################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/postgresql/FileContentIndex/93620969-1692-4b86-b264-3acee30ecda3.vsidx
/.vs/postgresql/FileContentIndex
/.vs/slnx.sqlite
/.vs/slnx.sqlite
/.vs/slnx.sqlite
